<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="assets/styles/main.css" />
</head>
<body>

  {% include navigation.html %}

  <div class="content" id="{{ page.title | slugify }}-page">
  
    {{ content }}
  
  </div>

  <script src="assets/javascript/jquery.min.js" type="text/javascript"></script>
  <script src="assets/javascript/index.js" type="text/javascript"></script>
</body>
</html>